/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

.bodySection {
  height: calc(100vh - 169px) !important;
  overflow: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Hide Number Arrows Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide Number Arrows Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.875em;
  /* --pageLinkColor: #b15f02;
      --pageOutlineColor: #b15f02; */
        --pageHeadFootBackgroundColor: #00008c;
        --pageHeadFootForegroundColor: #e6dfdf;
        --pageHeadFootSeparatorColor: rgba(136, 136, 136, 0.9);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

a {
  text-decoration: none;
}

a:hover,
button:hover {
  text-decoration: underline;
}

.container {
  padding-left: 1em;
  padding-right: 1em;
  margin: 0 auto;
  max-width: 1100px;
}

/*
**
** Page header
*****************************************************************/
.pageHead {
  background: var(--pageHeadFootBackgroundColor);
  color: var(--pageHeadFootForegroundColor);
  padding: 0.75em 0 0;
  --pageHeadBoxBackgroundColor: #484898;
  --pageHeadBoxForegroundColor: #e6dfdf;
}

.pageHead a,
.pageHead button {
  color: currentColor;
  cursor: pointer;
}

.pageHead__container {
  align-items: flex-start;
  display: flex;
}

.pageHead__logo {
  min-width: 5.5em;
  width: 5.5em;
}

.visuallyHidden {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  overflow: hidden;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

/* .pageHead__logo img {
    opacity: 0.4;
  } */

.pageHead__content {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding-left: 1.5em;
  width: 100%;
  padding-top: 1.5em;
}

/*
**
** Page header search form
*****************************************************************/
.pageHead__search {
  display: flex;
}

input[type="search"].pageHead__searchField {
  appearance: none;
  background-color: var(--pageHeadBoxBackgroundColor);
  border: 0;
  color: var(--pageHeadBoxForegroundColor);
  font-size: 90%;
  position: relative;
  width: 13.5em;
}

input[type="search"].pageHead__searchField::placeholder {
  color: var(--pageHeadBoxForegroundColor);
  opacity: 0.8;
}

button.pageHead__searchButton {
  align-items: center;
  background-color: var(--pageHeadBoxBackgroundColor);
  border: 0;
  color: var(--pageHeadBoxForegroundColor);
  display: flex;
  font-size: 80%;
  margin-left: 2px;
  padding: 0 1em;
  position: relative;
}

img.pageHead__searchButton {
  margin-left: 2px;
}

.pageHead__searchIcon {
  fill: currentColor;
  margin-right: 0.375em;
  width: 1em;
}

/*
**
** Page header navigation
*****************************************************************/
.pageHead__nav1 {
  margin-top: 0.75em;
  position: relative;
  /* margin-left: 31em;   */
  z-index: 1000;
}

.pageHead__nav1::before {
  background-color: var(--pageHeadFootSeparatorColor);
  content: "";
  display: block;
  height: 1px;
  left: 0;
  opacity: 0.3;
  position: absolute;
  right: 0;
  top: 0;
}

.pageHead__nav1List {
  line-height: 2.25;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Primary */
.pageHead__nav1List--primary {
  display: flex;
  justify-content: space-between;
}

.pageHead__nav1Item--primary {
  position: relative;
  padding: 0.75em 0;
}

.pageHead__nav1Link--primary {
  font-size: 1.15em;
}

/*
**
** Page header utilities
*****************************************************************/
.pageHead__utilities {
  display: flex;
  font-size: 80%;
  list-style: none;
  margin: 0 0 0 auto;
  padding: 0;
}

.pageHead__utilitiesLink {
  display: inline-flex;
  margin-left: 1.25em;
}

.pageHead__utilitiesIcon {
  fill: currentColor;
  margin-left: 0.375em;
  width: 1.25em;
}

/*
**
** Page footer
*****************************************************************/
.pageFoot {
  background: var(--pageHeadFootBackgroundColor);
  color: var(--pageHeadFootForegroundColor);
  padding: 1em 0;
}

.footContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageFoot__Logo {
  margin: 0 auto;
  width: 3em;
}

.pageFoot__Message {
  font-size: 80%;
  margin: 0;
  padding: 1.5em 0 2em;
}


/*
**
** Home blog
*****************************************************************/
.home__blogTitle {
  font-size: 180%;
  font-weight: bold;
  line-height: 1;
  margin: 1.5em 0 1em;
  padding: 0;
  text-align: center;
}

.home-main {
  display: block;
  width: 100%;
  padding: 0 1.5em;
}

.home_image {
  display: inline-block;
  width: 100%;
  object-fit: cover;
}

.home_video {
  display: inline-block;
  width: 100%;
  object-fit: cover;
  height: 315px;
}


.about__blogTitle {
  font-size: 180%;
  font-weight: bold;
  line-height: 1;
  margin: 1.5em 0 1em;
  padding: 0;
  text-align: center;
}

.about-main {
  display: block;
  width: 100%;
  padding: 0 1.5em;
}

/*
**
** Page main
*****************************************************************/
.pageMain__container {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
}

.pageMain__content {
  flex: 1;
  margin-left: 1em;
  order: 1;
}

.pageMain__content--sidebarRight {
  margin-left: 0;
  margin-right: 1em;
}

@media (max-width: 58em) {
  .pageMain__content {
    margin-left: 0;
  }
}
.page__title {
  font-size: 300%;
  margin: 0.75em 0 0.5em;
}

/*
**
** Contact Us
****************************************************************/
.contact {
  display: flex;
  justify-content: space-between;
}

.contact a {
  color: var(--pageLinkColor);
  text-decoration: none;
}

.contact__info,
.contact__map {
  width: calc(100% - 1.5em);
}

.contact__info {
  border: solid 1px #ddd;
  padding: 1em;
}

.contact__details {
  margin: 2.75em 0 0;
}

.contact__header {
  font-size: 80%;
  margin-bottom: 1.75em;
  text-transform: uppercase;
}

.contact__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact__item {
  display: flex;
  margin-bottom: 0.75em;
}

.contact__item--address {
  align-items: flex-start;
}

.contact__Icon {
  margin-right: 1em;
  width: 1.25em;
}

.contact__hours {
  display: flex;
  flex-wrap: wrap;
  line-height: 2;
}

.contact__day {
  width: 8em;
}

.contact__time {
  width: calc(100% - 8em);
}

.contact__map {
  border: solid 1px #ddd;
}

/*
**
** Feedback group
*****************************************************************/
.feedback__group {
  border: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2em;
  padding: 0;
}

.feedback__groupTitle {
  border-bottom: solid 1px #ddd;
  font-size: 170%;
  font-weight: bold;
  margin-bottom: 0.75em;
  padding: 0 0 0.25em;
  width: 100%;
}

/*
**
** Feedback item
*****************************************************************/
.feedback__item {
  display: flex;
  margin-bottom: 1.25em;
  width: 100%;
}

.feedback__label {
  display: block;
  font-size: 100%;
  margin-bottom: 0.375em;
}

.feedback__itemContent {
  flex: 1;
  position: relative;
}

.feedback__label {
  display: block;
  font-size: 100%;
  margin-bottom: 0.375em;
}

.feedback__required {
  color: #db0000;
  font-size: 125%;
}

.feedback__textbox {
  width: 100%;
}

.feedback__itemNote {
  background: #eee;
  display: block;
  font-size: 80%;
  padding: 1em;
}

.feedback__itemContent--firstName,
.feedback__itemContent--lastName,
.feedback__itemContent--email,
.feedback__itemContent--phone {
  max-width: 60%;
  min-width: 60%;
}

/*
**
** Feedback
*****************************************************************/
.feedback__container {
  border-bottom: solid 1px #ddd;
  padding-bottom: 0;
}

.feedback__content {
  padding: 0 0 3em 1.5em;
}

.feedback__form {
  padding-top: 1em;
}

.feedback__button {
  background: #00008c;
  border: 0;
  color: white;
  cursor: pointer;
  font-size: 115%;
  padding: 0.75em 1.5em;
}

a.feedback__button {
  background: #00008c;
  color: white;
  text-decoration: none;
}

.feedback__button--disabled,
button.feedback__button--disabled {
  cursor: default;
  opacity: 0.1;
}

.feedback__button--disabled:hover,
button.feedback__button--disabled:hover {
  text-decoration: none;
}

.page__note {
  background: #ecf1f4;
  font-size: 120%;
  margin-bottom: 1em;
  padding: 0.5em;
  width: 100%;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .contact__info,
  .contact__map {
    width: calc(100% - 0.5em) !important;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .pageHead__nav1 {
    margin-left: 10rem;
  }
  .contact__info,
  .contact__map {
    width: calc(100% - 0.5em) !important;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1023px) {
  .pageHead__nav1 {
    margin-left: 28rem;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .pageHead__nav1 {
    margin-left: 30rem;
  }
}

@media only screen and (min-width: 1201px) {
  .pageHead__nav1 {
    margin-left: 31rem;
  }
}